<% include header %>
<div id="content">
    <h1 class="name">About Us</h1>
    <p>
        BeerFind is the first and one of a kind application that allows users to find the perfect beer. We search
        far and wide to find the best beers from across the world to bring to our users to research and enjoy.
        starting from humble roots in 2014, BeerFind has made it's name in the craft beer industry and is now a
        staple in the rating of beers. Our goal is not only to bring the craft beer industry out of the dark, but
        to make the world a better place while doing it.
    </p>
    <img  style="float: right; height:auto; width:auto; max-width:350px; max-height:350px;" src="/Obama.jpg" alt=""/>
    <h2>Contact us!</h2>
    <p>Address: 1234 Beer St. <br> Rohnert Park, CA 94928</p>
    <p><a href="mailto:BeerFind@email.com"> Email us!</a></p>
    <p>Twitter: @BeerFind</p>
    <p>Facebook: facebook.com/BeerFind</p>
    <p>Instagram: @BeerFind</p>
</div>
<% include footer %>