<!DOCTYPE html>
<html>
<head>
    <title>BeerFind</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div id = "header">
    <div id="logo">
        <h1>BeerFind</h1>
    </div>
</div>
<div id="menu-wrap">
    <div id="menu">
        <ul class="first">
            <li><a href="/index">Home</a></li>
            <li><a href="/beers/">Beers</a></li>
            <li><a href="/breweries/">Breweries</a></li>
            <li><a href="/users/">User</a></li>
        </ul>
    </div>
</div>
<div id="content-wrap">