<% include header %>
<div id="content">
    <h1>Welcome to BeerFind</h1>
    <p>Create user account <a href="./user">here</a></p>
    <p>Add a beer to our database <a href="./addBeers">here</a></p>
</div>
<% include footer %>