@charset "UTF-8";
/* CSS Document */

body
{
	background:#000;
	font-family: 'Roboto', sans-serif;
	color:#FFF;
	margin:20px;
	
}
li
{
	display:inline;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
#header
{
	text-align:center;
	border:1px solid black;
	background-image:url(beerBackground.jpeg);
	width:inherit;
	color:#000;
}
#content{
	padding: 10px;
}
#content-create
{
	float:left;
	width:50%;
}
#content-response
{
	float:right;
	width:50%;
}
